{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "jsdoc"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "prettier/@typescript-eslint",
    "plugin:jsdoc/recommended"
  ],
  "rules": {
    "@typescript-eslint/explicit-function-return-type": "off",
    "jsdoc/require-param-type": 0,
    "jsdoc/require-returns-type": 0,
  },
  "env": {
    "node": true,
    "es6": true
  }
}
